﻿@model WebApplication2.Domain.Models.Cable

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    Das Cable:
    @Model.Property1<br/>
    @Model.Property2<br/>
    @Model.Property3<br/>
    @Model.ComplexProperty1<br/>
    @Model.ComplexProperty2<br/>

</div>
